body {
  text-align: center;
  background-image: linear-gradient(-225deg, #ffffff 0%, #ffffff 48%, #ffffff 100%);
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.welcome-heading {
  font-size: xxx-large;
  font-weight: bolder;
  font-family: sans-serif;
  padding-left: 20px;
  margin: 20px;
}

/*  Progress bar  */
.progress {
  width: 100%;
  max-width: 100%;
  height: 6px;
  background: #e1e4e8;
  border-radius: 3px;
  overflow: hidden;
}
.progress .progress-bar {
  display: block;
  height: 100%;
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#ffd33d),
    color-stop(17%, #ea4aaa),
    color-stop(34%, #b34bff),
    color-stop(51%, #01feff),
    color-stop(68%, #ffd33d),
    color-stop(85%, #ea4aaa),
    to(#b34bff)
  );
  background: linear-gradient(90deg, #ffd33d, #ea4aaa 17%, #b34bff 34%, #01feff 51%, #ffd33d 68%, #ea4aaa 85%, #b34bff);
  background-size: 300% 100%;
  -webkit-animation: progress-animation 2s linear infinite;
  animation: progress-animation 2s linear infinite;
}

@-webkit-keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

@keyframes progress-animation {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: 0;
  }
}

.search-controls {
  margin-left: 50px;
  padding: 30px;
}
